xsd/AnlagenEegSpeicher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenEegSpeicher" type="AnlagenEegSpeicherType"/>
  <xs:complexType name="AnlageEegSpeicherType">
    <xs:sequence>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="EegInbetriebnahmedatum"/>
      <xs:element type="xs:string" name="EegMaStRNummer"/>
      <xs:element type="xs:string" name="AnlagenschluesselEeg" minOccurs="0"/>
      <xs:element type="xs:string" name="AusschreibungZuschlag" minOccurs="0"/>
      <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnlagenEegSpeicherType">
    <xs:sequence>
      <xs:element type="AnlageEegSpeicherType" name="AnlageEegSpeicher" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>