xsd/AnlagenKwk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenKwk" type="AnlagenKwkType"/>
  <xs:complexType name="AnlageKwkType">
    <xs:sequence>
      <xs:element type="xs:string" name="KwkMastrNummer"/>
      <xs:element type="xs:string" name="AusschreibungZuschlag" minOccurs="0"/>
      <xs:element type="xs:string" name="Zuschlagnummer" minOccurs="0"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="Inbetriebnahmedatum" minOccurs="0"/>
      <xs:element type="xs:string" name="Registrierungsdatum" minOccurs="0"/>
      <xs:element type="xs:string" name="ThermischeNutzleistung" minOccurs="0"/>
      <xs:element type="xs:string" name="ElektrischeKwkLeistung" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnlagenKwkType">
    <xs:sequence>
      <xs:element type="AnlageKwkType" name="AnlageKwk" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>