xsd/AnlagenEegWasser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenEegWasser" type="AnlagenEegWasserType"/>
  <xs:complexType name="AnlageEegWasserType">
    <xs:sequence>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="EegInbetriebnahmedatum" minOccurs="0"/>
      <xs:element type="xs:string" name="EegMaStRNummer"/>
      <xs:element type="xs:string" name="AnlagenschluesselEeg" minOccurs="0"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister" minOccurs="0"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister_nv"/>
      <xs:element type="xs:string" name="InstallierteLeistung" minOccurs="0"/>
      <xs:element type="xs:string" name="AnlageBetriebsstatus"/>
      <xs:element type="xs:string" name="ErtuechtigungIds" minOccurs="0"/>
      <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnlagenEegWasserType">
    <xs:sequence>
      <xs:element type="AnlageEegWasserType" name="AnlageEegWasser" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>