xsd/AnlagenEegWind.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenEegWind" type="AnlagenEegWindType"/>
  <xs:complexType name="AnlageEegWindType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="EegInbetriebnahmedatum"/>
      <xs:element type="xs:string" name="EegMaStRNummer"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister_nv"/>
      <xs:element type="xs:string" name="AnlagenschluesselEeg"/>
      <xs:element type="xs:string" name="PilotAnlage"/>
      <xs:element type="xs:string" name="PrototypAnlage"/>
      <xs:element type="xs:string" name="InstallierteLeistung"/>
      <xs:element type="xs:string" name="VerhaeltnisErtragsschaetzungReferenzertrag"/>
      <xs:element type="xs:string" name="VerhaeltnisErtragsschaetzungReferenzertrag_nv"/>
      <xs:element type="xs:string" name="VerhaeltnisReferenzertragErtrag5Jahre"/>
      <xs:element type="xs:string" name="VerhaeltnisReferenzertragErtrag5Jahre_nv"/>
      <xs:element type="xs:string" name="VerhaeltnisReferenzertragErtrag10Jahre"/>
      <xs:element type="xs:string" name="VerhaeltnisReferenzertragErtrag10Jahre_nv"/>
      <xs:element type="xs:string" name="VerhaeltnisReferenzertragErtrag15Jahre"/>
      <xs:element type="xs:string" name="VerhaeltnisReferenzertragErtrag15Jahre_nv"/>
      <xs:element type="xs:string" name="AusschreibungZuschlag"/>
      <xs:element type="xs:string" name="Zuschlagsnummer"/>
      <xs:element type="xs:string" name="AnlageBetriebsstatus"/>
      <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AnlagenEegWindType">
    <xs:sequence>
      <xs:element type="AnlageEegWindType" name="AnlageEegWind" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>