xsd/AnlagenStromSpeicher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenStromSpeicher" type="AnlagenStromSpeicherType"/>
  <xs:complexType name="AnlageStromSpeicherType">
    <xs:sequence>
      <xs:element type="xs:string" name="MaStRNummer"/>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="NutzbareSpeicherkapazitaet"/>
      <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
      <xs:element type="xs:string" name="AnlageBetriebsstatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnlagenStromSpeicherType">
    <xs:sequence>
      <xs:element type="AnlageStromSpeicherType" name="AnlageStromSpeicher" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>