xsd/AnlagenEegBiomasse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenEegBiomasse" type="AnlagenEegBiomasseType"/>
  <xs:complexType name="AnlageEegBiomasseType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="EegInbetriebnahmedatum"/>
      <xs:element type="xs:string" name="EegMaStRNummer"/>
      <xs:element type="xs:string" name="AnlagenschluesselEeg"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister_nv"/>
      <xs:element type="xs:string" name="InstallierteLeistung"/>
      <xs:element type="xs:string" name="AusschliesslicheVerwendungBiomasse"/>
      <xs:element type="xs:string" name="AusschreibungZuschlag"/>
      <xs:element type="xs:string" name="BiogasInanspruchnahmeFlexiPraemie"/>
      <xs:element type="xs:string" name="BiogasDatumInanspruchnahmeFlexiPraemie"/>
      <xs:element type="xs:string" name="BiogasLeistungserhoehung"/>
      <xs:element type="xs:string" name="BiogasGaserzeugungskapazitaet"/>
      <xs:element type="xs:string" name="BiogasDatumLeistungserhoehung"/>
      <xs:element type="xs:string" name="BiogasUmfangLeistungserhoehung"/>
      <xs:element type="xs:string" name="BiogasGaserzeugungskapazitaet_nv"/>
      <xs:element type="xs:string" name="BiogasHoechstbemessungsleistung"/>
      <xs:element type="xs:string" name="BiomethanErstmaligerEinsatz"/>
      <xs:element type="xs:string" name="BiomethanErstmaligerEinsatz_nv"/>
      <xs:element type="xs:string" name="AnlageBetriebsstatus"/>
      <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
      <xs:element type="xs:string" name="Zuschlagsnummer"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AnlagenEegBiomasseType">
    <xs:sequence>
      <xs:element type="AnlageEegBiomasseType" name="AnlageEegBiomasse" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>