xsd/AnlagenEegSolar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenEegSolar" type="AnlagenEegSolarType"/>
  <xs:complexType name="AnlageEegSolarType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="EegInbetriebnahmedatum"/>
      <xs:element type="xs:string" name="EegMaStRNummer"/>
      <xs:element type="xs:string" name="InanspruchnahmeZahlungNachEeg"/>
      <xs:element type="xs:string" name="AnlagenschluesselEeg"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister"/>
      <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister_nv"/>
      <xs:element type="xs:string" name="InstallierteLeistung"/>
      <xs:element type="xs:string" name="RegistrierungsnummerPvMeldeportal"/>
      <xs:element type="xs:string" name="RegistrierungsnummerPvMeldeportal_nv"/>
      <xs:element type="xs:string" name="MieterstromZugeordnet"/>
      <xs:element type="xs:string" name="AusschreibungZuschlag"/>
      <xs:element type="xs:string" name="MieterstromMeldedatum"/>
      <xs:element type="xs:string" name="MieterstromErsteZuordnungZuschlag"/>
      <xs:element type="xs:string" name="AnlageBetriebsstatus"/>
      <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
      <xs:element type="xs:string" name="ZugeordneteGebotsmenge"/>
      <xs:element type="xs:string" name="Zuschlagsnummer"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AnlagenEegSolarType">
    <xs:sequence>
      <xs:element type="AnlageEegSolarType" name="AnlageEegSolar" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>