xsd/Einheitentypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Einheitentypen" type="EinheitentypenType"/>
  <xs:complexType name="EinheitentypType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Wert"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EinheitentypenType">
    <xs:sequence>
      <xs:element type="EinheitentypType" name="Einheitentyp" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>