xsd/EinheitenSolar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenSolar" type="EinheitenSolarType"/>
  <xs:complexType name="EinheitSolarType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="EinheitMastrNummer"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="LokationMaStRNummer"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungStatus"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungDatum"/>
      <xs:element type="xs:string" name="AnlagenbetreiberMastrNummer"/>
      <xs:element type="xs:string" name="Land"/>
      <xs:element type="xs:string" name="Bundesland"/>
      <xs:element type="xs:string" name="Landkreis"/>
      <xs:element type="xs:string" name="Gemeinde"/>
      <xs:element type="xs:string" name="Gemeindeschluessel"/>
      <xs:element type="xs:string" name="Postleitzahl"/>
      <xs:element type="xs:string" name="Strasse"/>
      <xs:element type="xs:string" name="Gemarkung"/>
      <xs:element type="xs:string" name="FlurFlurstuecknummern"/>
      <xs:element type="xs:string" name="StrasseNichtGefunden"/>
      <xs:element type="xs:string" name="Hausnummer"/>
      <xs:element type="xs:string" name="Hausnummer_nv"/>
      <xs:element type="xs:string" name="HausnummerNichtGefunden"/>
      <xs:element type="xs:string" name="Adresszusatz"/>
      <xs:element type="xs:string" name="Ort"/>
      <xs:element type="xs:string" name="Laengengrad"/>
      <xs:element type="xs:string" name="Breitengrad"/>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="Inbetriebnahmedatum"/>
      <xs:element type="xs:string" name="DatumBeginnVoruebergehendeStilllegung"/>
      <xs:element type="xs:string" name="DatumEndgueltigeStilllegung"/>
      <xs:element type="xs:string" name="DatumWiederaufnahmeBetrieb"/>
      <xs:element type="xs:string" name="GeplantesInbetriebnahmedatum"/>
      <xs:element type="xs:string" name="EinheitSystemstatus"/>
      <xs:element type="xs:string" name="EinheitBetriebsstatus"/>
      <xs:element type="xs:string" name="NichtVorhandenInMigriertenEinheiten"/>
      <xs:element type="xs:string" name="DatumDesBetreiberwechsels"/>
      <xs:element type="xs:string" name="DatumRegistrierungDesBetreiberwechsels"/>
      <xs:element type="xs:string" name="NameStromerzeugungseinheit"/>
      <xs:element type="xs:string" name="Weic_nv"/>
      <xs:element type="xs:string" name="WeicDisplayName"/>
      <xs:element type="xs:string" name="Kraftwerksnummer_nv"/>
      <xs:element type="xs:string" name="Energietraeger"/>
      <xs:element type="xs:string" name="Bruttoleistung"/>
      <xs:element type="xs:string" name="Nettonennleistung"/>
      <xs:element type="xs:string" name="AnschlussAnHoechstOderHochSpannung"/>
      <xs:element type="xs:string" name="Einsatzverantwortlicher"/>
      <xs:element type="xs:string" name="FernsteuerbarkeitNb"/>
      <xs:element type="xs:string" name="FernsteuerbarkeitDv"/>
      <xs:element type="xs:string" name="Einspeisungsart"/>
      <xs:element type="xs:string" name="GenMastrNummer"/>
      <xs:element type="xs:string" name="ZugeordneteWirkleistungWechselrichter"/>
      <xs:element type="xs:string" name="AnzahlModule"/>
      <xs:element type="xs:string" name="Lage"/>
      <xs:element type="xs:string" name="Leistungsbegrenzung"/>
      <xs:element type="xs:string" name="EinheitlicheAusrichtungUndNeigungswinkel"/>
      <xs:element type="xs:string" name="Hauptausrichtung"/>
      <xs:element type="xs:string" name="HauptausrichtungNeigungswinkel"/>
      <xs:element type="xs:string" name="Nebenausrichtung"/>
      <xs:element type="xs:string" name="NebenausrichtungNeigungswinkel"/>
      <xs:element type="xs:string" name="Nutzungsbereich"/>
      <xs:element type="xs:string" name="InAnspruchGenommeneFlaeche"/>
      <xs:element type="xs:string" name="ArtDerFlaecheIds"/>
      <xs:element type="xs:string" name="InAnspruchGenommeneAckerflaeche"/>
      <xs:element type="xs:string" name="EegMaStRNummer"/>
      <xs:element type="xs:string" name="Buergerenergie"/>
      <xs:element type="xs:string" name="Kraftwerksnummer"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="EinheitenSolarType">
    <xs:sequence>
      <xs:element type="EinheitSolarType" name="EinheitSolar" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>