xsd/EinheitenKernkraft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenKernkraft" type="EinheitenKernkraftType"/>
  <xs:complexType name="EinheitKernkraftType">
    <xs:sequence>
      <xs:element type="xs:string" name="EinheitMastrNummer"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="LokationMaStRNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungStatus"/>
      <xs:element type="xs:string" name="AnlagenbetreiberMastrNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="Land"/>
      <xs:element type="xs:string" name="Bundesland"/>
      <xs:element type="xs:string" name="Landkreis"/>
      <xs:element type="xs:string" name="Gemeinde"/>
      <xs:element type="xs:string" name="Gemeindeschluessel"/>
      <xs:element type="xs:string" name="Postleitzahl"/>
      <xs:element type="xs:string" name="Strasse"/>
      <xs:element type="xs:string" name="StrasseNichtGefunden"/>
      <xs:element type="xs:string" name="Hausnummer" minOccurs="0"/>
      <xs:element type="xs:string" name="Hausnummer_nv"/>
      <xs:element type="xs:string" name="HausnummerNichtGefunden"/>
      <xs:element type="xs:string" name="Ort"/>
      <xs:element type="xs:string" name="Laengengrad"/>
      <xs:element type="xs:string" name="Breitengrad"/>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="Inbetriebnahmedatum"/>
      <xs:element type="xs:string" name="DatumEndgueltigeStilllegung"/>
      <xs:element type="xs:string" name="EinheitSystemstatus"/>
      <xs:element type="xs:string" name="EinheitBetriebsstatus"/>
      <xs:element type="xs:string" name="NichtVorhandenInMigriertenEinheiten"/>
      <xs:element type="xs:string" name="DatumDesBetreiberwechsels" minOccurs="0"/>
      <xs:element type="xs:string" name="DatumRegistrierungDesBetreiberwechsels" minOccurs="0"/>
      <xs:element type="xs:string" name="NameStromerzeugungseinheit"/>
      <xs:element type="xs:string" name="Weic" minOccurs="0"/>
      <xs:element type="xs:string" name="Weic_nv"/>
      <xs:element type="xs:string" name="WeicDisplayName" minOccurs="0"/>
      <xs:element type="xs:string" name="Kraftwerksnummer" minOccurs="0"/>
      <xs:element type="xs:string" name="Kraftwerksnummer_nv"/>
      <xs:element type="xs:string" name="Energietraeger"/>
      <xs:element type="xs:string" name="Bruttoleistung"/>
      <xs:element type="xs:string" name="Nettonennleistung"/>
      <xs:element type="xs:string" name="AnschlussAnHoechstOderHochSpannung" minOccurs="0"/>
      <xs:element type="xs:string" name="Einspeisungsart" minOccurs="0"/>
      <xs:element type="xs:string" name="FernsteuerbarkeitNb" minOccurs="0"/>
      <xs:element type="xs:string" name="GenMastrNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="NameKraftwerk"/>
      <xs:element type="xs:string" name="NameKraftwerksblock"/>
      <xs:element type="xs:string" name="Technologie" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EinheitenKernkraftType">
    <xs:sequence>
      <xs:element type="EinheitKernkraftType" name="EinheitKernkraft" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>