xsd/EinheitenGeothermieGrubengasDruckentspannung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenGeothermieGrubengasDruckentspannung" type="EinheitenGeothermieGrubengasDruckentspannungType"/>
  <xs:complexType name="EinheitGeothermieGrubengasDruckentspannungType">
    <xs:sequence>
      <xs:element type="xs:string" name="EinheitMastrNummer"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="LokationMaStRNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungStatus"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungDatum" minOccurs="0"/>
      <xs:element type="xs:string" name="AnlagenbetreiberMastrNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="Land"/>
      <xs:element type="xs:string" name="Bundesland"/>
      <xs:element type="xs:string" name="Landkreis"/>
      <xs:element type="xs:string" name="Gemeinde"/>
      <xs:element type="xs:string" name="Gemeindeschluessel"/>
      <xs:element type="xs:string" name="Postleitzahl"/>
      <xs:element type="xs:string" name="Strasse" minOccurs="0"/>
      <xs:element type="xs:string" name="Gemarkung" minOccurs="0"/>
      <xs:element type="xs:string" name="FlurFlurstuecknummern" minOccurs="0"/>
      <xs:element type="xs:string" name="StrasseNichtGefunden" minOccurs="0"/>
      <xs:element type="xs:string" name="Hausnummer" minOccurs="0"/>
      <xs:element type="xs:string" name="Hausnummer_nv" minOccurs="0"/>
      <xs:element type="xs:string" name="HausnummerNichtGefunden" minOccurs="0"/>
      <xs:element type="xs:string" name="Adresszusatz" minOccurs="0"/>
      <xs:element type="xs:string" name="Ort"/>
      <xs:element type="xs:string" name="Laengengrad" minOccurs="0"/>
      <xs:element type="xs:string" name="Breitengrad" minOccurs="0"/>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="Inbetriebnahmedatum" minOccurs="0"/>
      <xs:element type="xs:string" name="DatumEndgueltigeStilllegung" minOccurs="0"/>
      <xs:element type="xs:string" name="DatumBeginnVoruebergehendeStilllegung" minOccurs="0"/>
      <xs:element type="xs:string" name="GeplantesInbetriebnahmedatum" minOccurs="0"/>
      <xs:element type="xs:string" name="EinheitSystemstatus"/>
      <xs:element type="xs:string" name="EinheitBetriebsstatus"/>
      <xs:element type="xs:string" name="NichtVorhandenInMigriertenEinheiten"/>
      <xs:element type="xs:string" name="DatumDesBetreiberwechsels" minOccurs="0"/>
      <xs:element type="xs:string" name="DatumRegistrierungDesBetreiberwechsels" minOccurs="0"/>
      <xs:element type="xs:string" name="NameStromerzeugungseinheit"/>
      <xs:element type="xs:string" name="Weic_nv"/>
      <xs:element type="xs:string" name="Kraftwerksnummer_nv"/>
      <xs:element type="xs:string" name="Energietraeger"/>
      <xs:element type="xs:string" name="Bruttoleistung"/>
      <xs:element type="xs:string" name="Nettonennleistung" minOccurs="0"/>
      <xs:element type="xs:string" name="AnschlussAnHoechstOderHochSpannung" minOccurs="0"/>
      <xs:element type="xs:string" name="FernsteuerbarkeitNb" minOccurs="0"/>
      <xs:element type="xs:string" name="FernsteuerbarkeitDv" minOccurs="0"/>
      <xs:element type="xs:string" name="Einspeisungsart" minOccurs="0"/>
      <xs:element type="xs:string" name="GenMastrNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="ReserveartNachDemEnWG" minOccurs="0"/>
      <xs:element type="xs:string" name="Technologie" minOccurs="0"/>
      <xs:element type="xs:string" name="EegMaStRNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="KwkMaStRNummer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EinheitenGeothermieGrubengasDruckentspannungType">
    <xs:sequence>
      <xs:element type="EinheitGeothermieGrubengasDruckentspannungType" name="EinheitGeothermieGrubengasDruckentspannung" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>