xsd/EinheitenGenehmigung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenGenehmigung" type="EinheitenGenehmigungType"/>
  <xs:complexType name="EinheitGenehmigungType">
    <xs:sequence>
      <xs:element type="xs:string" name="GenMastrNummer"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="Art"/>
      <xs:element type="xs:string" name="Datum" minOccurs="0"/>
      <xs:element type="xs:string" name="Behoerde" minOccurs="0"/>
      <xs:element type="xs:string" name="Aktenzeichen" minOccurs="0"/>
      <xs:element type="xs:string" name="Frist" minOccurs="0"/>
      <xs:element type="xs:string" name="Frist_nv"/>
      <xs:element type="xs:string" name="WasserrechtsNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="WasserrechtAblaufdatum" minOccurs="0"/>
      <xs:element type="xs:string" name="WasserrechtAblaufdatum_nv"/>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EinheitenGenehmigungType">
    <xs:sequence>
      <xs:element type="EinheitGenehmigungType" name="EinheitGenehmigung" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>