xsd/EinheitenStromVerbraucher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenStromVerbraucher" type="EinheitenStromVerbraucherType"/>
  <xs:complexType name="EinheitStromVerbraucherType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="EinheitMastrNummer"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="LokationMaStRNummer"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungStatus"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungDatum"/>
      <xs:element type="xs:string" name="AnlagenbetreiberMastrNummer"/>
      <xs:element type="xs:string" name="Land"/>
      <xs:element type="xs:string" name="Bundesland"/>
      <xs:element type="xs:string" name="Landkreis"/>
      <xs:element type="xs:string" name="Gemeinde"/>
      <xs:element type="xs:string" name="Gemeindeschluessel"/>
      <xs:element type="xs:string" name="Postleitzahl"/>
      <xs:element type="xs:string" name="Strasse"/>
      <xs:element type="xs:string" name="Gemarkung"/>
      <xs:element type="xs:string" name="FlurFlurstuecknummern"/>
      <xs:element type="xs:string" name="StrasseNichtGefunden"/>
      <xs:element type="xs:string" name="Hausnummer"/>
      <xs:element type="xs:string" name="Hausnummer_nv"/>
      <xs:element type="xs:string" name="HausnummerNichtGefunden"/>
      <xs:element type="xs:string" name="Adresszusatz"/>
      <xs:element type="xs:string" name="Ort"/>
      <xs:element type="xs:string" name="Laengengrad"/>
      <xs:element type="xs:string" name="Breitengrad"/>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="Inbetriebnahmedatum"/>
      <xs:element type="xs:string" name="GeplantesInbetriebnahmedatum"/>
      <xs:element type="xs:string" name="DatumEndgueltigeStilllegung"/>
      <xs:element type="xs:string" name="EinheitSystemstatus"/>
      <xs:element type="xs:string" name="EinheitBetriebsstatus"/>
      <xs:element type="xs:string" name="NichtVorhandenInMigriertenEinheiten"/>
      <xs:element type="xs:string" name="Einsatzverantwortlicher"/>
      <xs:element type="xs:string" name="DatumDesBetreiberwechsels"/>
      <xs:element type="xs:string" name="DatumRegistrierungDesBetreiberwechsels"/>
      <xs:element type="xs:string" name="NameStromverbrauchseinheit"/>
      <xs:element type="xs:string" name="AnzahlStromverbrauchseinheitenGroesser50Mw"/>
      <xs:element type="xs:string" name="PraequalifiziertGemaessAblav"/>
      <xs:element type="xs:string" name="AnteilBeinflussbareLast"/>
      <xs:element type="xs:string" name="ArtAbschaltbareLast"/>
      <xs:element type="xs:string" name="DatumBeginnVoruebergehendeStilllegung"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="EinheitenStromVerbraucherType">
    <xs:sequence>
      <xs:element type="EinheitStromVerbraucherType" name="EinheitStromVerbraucher" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>