xsd/EinheitenWind.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenWind" type="EinheitenWindType"/>
  <xs:complexType name="EinheitWindType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="EinheitMastrNummer"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="LokationMaStRNummer"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungStatus"/>
      <xs:element type="xs:string" name="NetzbetreiberpruefungDatum"/>
      <xs:element type="xs:string" name="AnlagenbetreiberMastrNummer"/>
      <xs:element type="xs:string" name="Land"/>
      <xs:element type="xs:string" name="Bundesland"/>
      <xs:element type="xs:string" name="Landkreis"/>
      <xs:element type="xs:string" name="Gemeinde"/>
      <xs:element type="xs:string" name="Gemeindeschluessel"/>
      <xs:element type="xs:string" name="Postleitzahl"/>
      <xs:element type="xs:string" name="Gemarkung"/>
      <xs:element type="xs:string" name="FlurFlurstuecknummern"/>
      <xs:element type="xs:string" name="Strasse"/>
      <xs:element type="xs:string" name="StrasseNichtGefunden"/>
      <xs:element type="xs:string" name="Hausnummer"/>
      <xs:element type="xs:string" name="Hausnummer_nv"/>
      <xs:element type="xs:string" name="HausnummerNichtGefunden"/>
      <xs:element type="xs:string" name="Adresszusatz"/>
      <xs:element type="xs:string" name="Ort"/>
      <xs:element type="xs:string" name="Laengengrad"/>
      <xs:element type="xs:string" name="Breitengrad"/>
      <xs:element type="xs:string" name="Registrierungsdatum"/>
      <xs:element type="xs:string" name="Inbetriebnahmedatum"/>
      <xs:element type="xs:string" name="GeplantesInbetriebnahmedatum"/>
      <xs:element type="xs:string" name="DatumEndgueltigeStilllegung"/>
      <xs:element type="xs:string" name="DatumBeginnVoruebergehendeStilllegung"/>
      <xs:element type="xs:string" name="DatumWiederaufnahmeBetrieb"/>
      <xs:element type="xs:string" name="EinheitSystemstatus"/>
      <xs:element type="xs:string" name="EinheitBetriebsstatus"/>
      <xs:element type="xs:string" name="NichtVorhandenInMigriertenEinheiten"/>
      <xs:element type="xs:string" name="DatumDesBetreiberwechsels"/>
      <xs:element type="xs:string" name="DatumRegistrierungDesBetreiberwechsels"/>
      <xs:element type="xs:string" name="NameStromerzeugungseinheit"/>
      <xs:element type="xs:string" name="Weic"/>
      <xs:element type="xs:string" name="Weic_nv"/>
      <xs:element type="xs:string" name="WeicDisplayName"/>
      <xs:element type="xs:string" name="Kraftwerksnummer"/>
      <xs:element type="xs:string" name="Kraftwerksnummer_nv"/>
      <xs:element type="xs:string" name="Energietraeger"/>
      <xs:element type="xs:string" name="Bruttoleistung"/>
      <xs:element type="xs:string" name="Nettonennleistung"/>
      <xs:element type="xs:string" name="AnschlussAnHoechstOderHochSpannung"/>
      <xs:element type="xs:string" name="FernsteuerbarkeitNb"/>
      <xs:element type="xs:string" name="Einsatzverantwortlicher"/>
      <xs:element type="xs:string" name="FernsteuerbarkeitDv"/>
      <xs:element type="xs:string" name="Einspeisungsart"/>
      <xs:element type="xs:string" name="GenMastrNummer"/>
      <xs:element type="xs:string" name="NameWindpark"/>
      <xs:element type="xs:string" name="Lage"/>
      <xs:element type="xs:string" name="Seelage"/>
      <xs:element type="xs:string" name="ClusterNordsee"/>
      <xs:element type="xs:string" name="ClusterOstsee"/>
      <xs:element type="xs:string" name="Hersteller"/>
      <xs:element type="xs:string" name="Technologie"/>
      <xs:element type="xs:string" name="Typenbezeichnung"/>
      <xs:element type="xs:string" name="Nabenhoehe"/>
      <xs:element type="xs:string" name="Rotordurchmesser"/>
      <xs:element type="xs:string" name="Rotorblattenteisungssystem"/>
      <xs:element type="xs:string" name="AuflageAbschaltungLeistungsbegrenzung"/>
      <xs:element type="xs:string" name="AuflagenAbschaltungSchallimmissionsschutzNachts"/>
      <xs:element type="xs:string" name="AuflagenAbschaltungSchallimmissionsschutzTagsueber"/>
      <xs:element type="xs:string" name="AuflagenAbschaltungSchattenwurf"/>
      <xs:element type="xs:string" name="AuflagenAbschaltungTierschutz"/>
      <xs:element type="xs:string" name="AuflagenAbschaltungEiswurf"/>
      <xs:element type="xs:string" name="AuflagenAbschaltungSonstige"/>
      <xs:element type="xs:string" name="Nachtkennzeichnung"/>
      <xs:element type="xs:string" name="Buergerenergie"/>
      <xs:element type="xs:string" name="Wassertiefe"/>
      <xs:element type="xs:string" name="Kuestenentfernung"/>
      <xs:element type="xs:string" name="EegMaStRNummer"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="EinheitenWindType">
    <xs:sequence>
      <xs:element type="EinheitWindType" name="EinheitWind" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>