xsd/GeloeschteUndDeaktivierteEinheiten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GeloeschteUndDeaktivierteEinheiten" type="GeloeschteUndDeaktivierteEinheitenType"/>
  <xs:complexType name="GeloeschteUndDeaktivierteEinheitType">
    <xs:sequence>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung"/>
      <xs:element type="xs:string" name="EinheitMastrNummer"/>
      <xs:element type="xs:string" name="Einheittyp"/>
      <xs:element type="xs:string" name="EinheitSystemstatus"/>
      <xs:element type="xs:string" name="EinheitBetriebsstatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeloeschteUndDeaktivierteEinheitenType">
    <xs:sequence>
      <xs:element type="GeloeschteUndDeaktivierteEinheitType" name="GeloeschteUndDeaktivierteEinheit" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>