xsd/GeloeschteUndDeaktivierteMarktakteure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GeloeschteUndDeaktivierteMarktakteure" type="GeloeschteUndDeaktivierteMarktakteureType"/>
  <xs:complexType name="GeloeschteUndDeaktivierteMarktakteureType">
    <xs:sequence>
      <xs:element type="xs:string" name="MarktakteurMastrNummer" minOccurs="0"/>
      <xs:element type="xs:string" name="MarktakteurStatus" minOccurs="0"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung" minOccurs="0"/>
      <xs:element type="GeloeschteUndDeaktivierteMarktakteureType" name="GeloeschteUndDeaktivierteMarktakteure" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>