xsd/Katalogwerte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Katalogwerte" type="KatalogwerteType"/>
  <xs:complexType name="KatalogwertType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Wert"/>
      <xs:element type="xs:string" name="KatalogKategorieId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KatalogwerteType">
    <xs:sequence>
      <xs:element type="KatalogwertType" name="Katalogwert" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>