xsd/Katalogkategorien.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Katalogkategorien" type="KatalogkategorienType"/>
  <xs:complexType name="KatalogkategorieType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KatalogkategorienType">
    <xs:sequence>
      <xs:element type="KatalogkategorieType" name="Katalogkategorie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>