xsd/Marktrollen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Marktrollen" type="MarktrollenType"/>
  <xs:complexType name="MarktrolleType">
    <xs:sequence>
      <xs:element type="xs:string" name="MarktakteurMastrNummer"/>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung" minOccurs="0"/>
      <xs:element type="xs:string" name="MastrNummer"/>
      <xs:element type="xs:string" name="Marktrolle"/>
      <xs:element type="xs:string" name="BundesnetzagenturBetriebsnummer" minOccurs="0"/>
      <xs:element type="xs:string" name="BundesnetzagenturBetriebsnummer_nv" minOccurs="0"/>
      <xs:element type="xs:string" name="Marktpartneridentifikationsnummer" minOccurs="0"/>
      <xs:element type="xs:string" name="Marktpartneridentifikationsnummer_nv"/>
      <xs:element type="xs:string" name="KontaktdatenMarktrolle" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarktrollenType">
    <xs:sequence>
      <xs:element type="MarktrolleType" name="Marktrolle" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>