xsd/Netze.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Netze" type="NetzeType"/>
  <xs:complexType name="NetzType">
    <xs:sequence>
      <xs:element type="xs:string" name="DatumLetzteAktualisierung" minOccurs="0"/>
      <xs:element type="xs:string" name="MastrNummer"/>
      <xs:element type="xs:string" name="Sparte"/>
      <xs:element type="xs:string" name="KundenAngeschlossen" minOccurs="0"/>
      <xs:element type="xs:string" name="GeschlossenesVerteilnetz" minOccurs="0"/>
      <xs:element type="xs:string" name="Bezeichnung" minOccurs="0"/>
      <xs:element type="xs:string" name="Marktgebiet" minOccurs="0"/>
      <xs:element type="xs:string" name="Bundesland" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NetzeType">
    <xs:sequence>
      <xs:element type="NetzType" name="Netz" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>